CustomerUtilityServics/src/com/mss/cus/xml/resources/ConsumptionHistory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
          <!-- XML Schema Generated from XML Document on Mon Aug 19 2013 21:45:07 GMT-0400 (Eastern Daylight Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xs:element name="ConsumptionHistory">
              <xs:complexType>
                     <xs:sequence>
                            <xs:element name="AccountInfo">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="AccountNumber" type="xs:int"></xs:element>
                                                 <xs:element name="ServiceNumber" type="xs:int"></xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                            <xs:element name="ConsumptionInfo">
                                   <xs:complexType>
                                          <xs:sequence>
                                                 <xs:element name="Consumption" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                               <xs:sequence>
                                                                      <xs:element name="ChargeDate" type="xs:string"></xs:element>
                                                                      <xs:element name="BilledConsumption" type="xs:double"></xs:element>
                                                                      <xs:element name="DaysOfService" type="xs:int"></xs:element>
                                                                      <xs:element name="BilledCharge" type="xs:double"></xs:element>
                                                                      <xs:element name="Counter" type="xs:int"></xs:element>
                                                                  </xs:sequence>
                                                           </xs:complexType>
                                                    </xs:element>
                                             </xs:sequence>
                                      </xs:complexType>
                               </xs:element>
                        </xs:sequence>
                 </xs:complexType>
          </xs:element>
   </xs:schema>