CustomerUtilityServics/WebContent/WEB-INF/classes/com/mss/cus/xml/resources/accountsummary.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Tue Aug 20 2013 16:58:47 GMT-0400 (Eastern Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="AccountSummary">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="CustomerName">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="FirstName" type="xs:string"></xs:element>
                                             <xs:element name="MiddleName"></xs:element>
                                             <xs:element name="LastName" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="EligibileIndicators">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="SHORTTERMPAYARRNGELIGIBLEIND" type="xs:string"></xs:element>
                                             <xs:element name="BudgetEligibleInd" type="xs:string"></xs:element>
                                             <xs:element name="PhoneCheckEligibleInd" type="xs:string"></xs:element>
                                             <xs:element name="LONGTERMPAYARRNGELIGIBLEIND" type="xs:string"></xs:element>
                                             <xs:element name="VFPEligibleInd" type="xs:string"></xs:element>
                                             <xs:element name="BANKDRAFTELIGIBLEIND" type="xs:string"></xs:element>
                                             <xs:element name="EBillEligibleInd" type="xs:string"></xs:element>
                                             <xs:element name="IVRWebEligibleInd" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="CurrentIndicators">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="BadDebtInd" type="xs:string"></xs:element>
                                             <xs:element name="PayArrangementInd" type="xs:string"></xs:element>
                                             <xs:element name="BankDraftInd" type="xs:string"></xs:element>
                                             <xs:element name="BudgetInd" type="xs:string"></xs:element>
                                             <xs:element name="MasterBillInd" type="xs:string"></xs:element>
                                             <xs:element name="SoftDisconnectInd" type="xs:string"></xs:element>
                                             <xs:element name="LateFeeInd" type="xs:string"></xs:element>
                                             <xs:element name="DuplicateBillInd" type="xs:string"></xs:element>
                                             <xs:element name="PendginVFPExistsInd" type="xs:string"></xs:element>
                                             <xs:element name="InsideMeterInd" type="xs:string"></xs:element>
                                             <xs:element name="EBillInd" type="xs:string"></xs:element>
                                             <xs:element name="PayByCheckInd" type="xs:string"></xs:element>
                                             <xs:element name="BrokenPayArrngExistsInd" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="PaymentArrangements">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="PayArrangementType"></xs:element>
                                             <xs:element name="LongTermPayArrngAmtDue"></xs:element>
                                             <xs:element name="ShortTermPayArrngAmtDue"></xs:element>
                                             <xs:element name="PayArrangementCreationDate"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ServiceOrders">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="PendingNpso" type="xs:string"></xs:element>
                                             <xs:element name="CompletedNpso" type="xs:string"></xs:element>
                                             <xs:element name="OpenNpso" type="xs:string"></xs:element>
                                             <xs:element name="NPSOCompletedDate"></xs:element>
                                             <xs:element name="Pending505NeedDate"></xs:element>
                                             <xs:element name="Pending502NeedDate"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Collections">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="NumReturnChecks" type="xs:int"></xs:element>
                                             <xs:element name="CutOffDate"></xs:element>
                                             <xs:element name="DisconnectLetter" type="xs:string"></xs:element>
                                             <xs:element name="DisconnectLetterDate" type="xs:string"></xs:element>
                                             <xs:element name="CreditScore" type="xs:string"></xs:element>
                                             <xs:element name="LateFeeDate" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Balances">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Balance30" type="xs:int"></xs:element>
                                             <xs:element name="Balance60" type="xs:double"></xs:element>
                                             <xs:element name="Balance90" type="xs:double"></xs:element>
                                             <xs:element name="BadDebtBalance"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Payments">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="PendingPhoneCheckAmt" type="xs:int"></xs:element>
                                             <xs:element name="PendingPhoneCheckStatus" type="xs:string"></xs:element>
                                             <xs:element name="LastPaymentDate" type="xs:string"></xs:element>
                                             <xs:element name="LastPaymentAmount" type="xs:int"></xs:element>
                                             <xs:element name="BankRoutingNumber"></xs:element>
                                             <xs:element name="BankAccountNumber"></xs:element>
                                             <xs:element name="PendingMemoPymt" type="xs:int"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="CurrentBill">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="CurrentDueDate" type="xs:string"></xs:element>
                                             <xs:element name="CurrentAmountDue" type="xs:int"></xs:element>
                                             <xs:element name="PastDueAmount" type="xs:double"></xs:element>
                                             <xs:element name="BillPrintDate" type="xs:string"></xs:element>
                                             <xs:element name="TotalAmountDue" type="xs:double"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="PreviousBill">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="PastDueDate"></xs:element>
                                             <xs:element name="PreviousBillDueDate" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="AccountInfo">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="OriginalDepositAmount" type="xs:int"></xs:element>
                                             <xs:element name="CollectedDepositAmount" type="xs:int"></xs:element>
                                             <xs:element name="BudgetAmount"></xs:element>
                                             <xs:element name="StandardRemarkCode"></xs:element>
                                             <xs:element name="BillingCycle" type="xs:int"></xs:element>
                                             <xs:element name="EmailAddress"></xs:element>
                                             <xs:element name="AccountStatus" type="xs:string"></xs:element>
                                             <xs:element name="AccountClass" type="xs:int"></xs:element>
                                             <xs:element name="AccountNumber" type="xs:string"></xs:element>
                                             <xs:element name="ServiceAddress" type="xs:string"></xs:element>
                                             <xs:element name="RoundUpFlag" type="xs:string"></xs:element>
                                             <xs:element name="RoundUpAmount"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="Services">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Service" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="ServiceNumber" type="xs:int"></xs:element>
                                                               <xs:element name="ActualServiceType" type="xs:string"></xs:element>
                                                               <xs:element name="ServiceType" type="xs:string"></xs:element>
                                                               <xs:element name="ServiceClass" type="xs:int"></xs:element>
                                                               <xs:element name="RateCode" type="xs:string"></xs:element>
                                                               <xs:element name="MeterNumber" type="xs:int"></xs:element>
                                                               <xs:element name="MeterDials" type="xs:int"></xs:element>
                                                               <xs:element name="ConsFromRead" type="xs:int"></xs:element>
                                                               <xs:element name="ConsToRead" type="xs:int"></xs:element>
                                                               <xs:element name="ConsFromReadDate" type="xs:string"></xs:element>
                                                               <xs:element name="ConsToReadDate" type="xs:string"></xs:element>
                                                               <xs:element name="Consumption" type="xs:double"></xs:element>
                                                               <xs:element name="MeterReadEligibleInd"></xs:element>
                                                               <xs:element name="NextScheduledReadDate"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="RejectReasonCode"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
