CustDataRESTServices/src/com/mss/cus/xml/resources/accountsummary.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AccountSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerName">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FirstName"/>
              <xs:element type="xs:string" name="MiddleName"/>
              <xs:element type="xs:string" name="LastName"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Services">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Service" maxOccurs="9999">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:integer" name="ServiceNumber"/>
                    <xs:element type="xs:string" name="ActualServiceType"/>
                    <xs:element type="xs:string" name="ServiceType"/>
                    <xs:element type="xs:string" name="ServiceClass"/>
                    <xs:element type="xs:string" name="RateCode"/>
                    <xs:element type="xs:string" name="MeterNumber"/>
                    <xs:element type="xs:decimal" name="MeterDials"/>
                    <xs:element type="xs:string" name="ConsFromRead"/>
                    <xs:element type="xs:string" name="ConsToRead"/>
                    <xs:element type="xs:date" name="ConsFromReadDate"/>
                    <xs:element type="xs:date" name="ConsToReadDate"/>
                    <xs:element type="xs:decimal" name="Consumption"/>
                    <xs:element type="xs:string" name="MeterReadEligibleInd"/>
                    <xs:element type="xs:date" name="NextScheduledReadDate"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EligibileIndicators">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ShortTermPayArrngEligibleInd"/>
              <xs:element type="xs:string" name="BudgetEligibleInd"/>
              <xs:element type="xs:string" name="PhoneCheckEligibleInd"/>
              <xs:element type="xs:string" name="LongTermPayArrngEligibleInd"/>
              <xs:element type="xs:string" name="VFPEligibleInd"/>
              <xs:element type="xs:string" name="BankDraftEligibleInd"/>
              <xs:element type="xs:string" name="EBillEligibleInd"/>
              <xs:element type="xs:string" name="IVRWebEligibleInd"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CurrentIndicators">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BadDebtInd"/>
              <xs:element type="xs:string" name="PayArrangementInd"/>
              <xs:element type="xs:string" name="BankDraftInd"/>
              <xs:element type="xs:string" name="BudgetInd"/>
              <xs:element type="xs:string" name="MasterBillInd"/>
              <xs:element type="xs:string" name="SoftDisconnectInd"/>
              <xs:element type="xs:string" name="LateFeeInd"/>
              <xs:element type="xs:string" name="DuplicateBillInd"/>
              <xs:element type="xs:string" name="PendginVFPExistsInd"/>
              <xs:element type="xs:string" name="InsideMeterInd"/>
              <xs:element type="xs:string" name="EBillInd"/>
              <xs:element type="xs:string" name="PayByCheckInd"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PaymentArrangements">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PayArrangementType"/>
              <xs:element type="xs:decimal" name="LongTermPayArrngAmtDue"/>
              <xs:element type="xs:decimal" name="ShortTermPayArrngAmtDue"/>
              <xs:element type="xs:date" name="PayArrangementCreationDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ServiceOrders">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PendingNpso"/>
              <xs:element type="xs:string" name="CompletedNpso"/>
              <xs:element type="xs:string" name="OpenNpso"/>
              <xs:element type="xs:date" name="NPSOCompletedDate"/>
              <xs:element type="xs:date" name="Pending505NeedDate"/>
              <xs:element type="xs:date" name="Pending502NeedDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Collections">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="NumReturnChecks"/>
              <xs:element type="xs:date" name="CutOffDate"/>
              <xs:element type="xs:string" name="DisconnectLetter"/>
              <xs:element type="xs:date" name="DisconnectLetterDate"/>
              <xs:element type="xs:string" name="CreditScore"/>
              <xs:element type="xs:date" name="LateFeeDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Balances">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:decimal" name="Balance30"/>
              <xs:element type="xs:decimal" name="Balance60"/>
              <xs:element type="xs:decimal" name="Balance90"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Payments">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:decimal" name="PendingPhoneCheckAmt"/>
              <xs:element type="xs:string" name="PendingPhoneCheckStatus"/>
              <xs:element type="xs:date" name="LastPaymentDate"/>
              <xs:element type="xs:decimal" name="LastPaymentAmount"/>
              <xs:element type="xs:string" name="BankRoutingNumber"/>
              <xs:element type="xs:string" name="BankAccountNumber"/>
              <xs:element type="xs:decimal" name="PendingMemoPymt"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CurrentBill">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="CurrentDueDate"/>
              <xs:element type="xs:decimal" name="CurrentAmountDue"/>
              <xs:element type="xs:decimal" name="PastDueAmount"/>
              <xs:element type="xs:date" name="BillPrintDate"/>
              <xs:element type="xs:decimal" name="TotalAmountDue"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PreviousBill">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:date" name="PastDueDate"/>
              <xs:element type="xs:date" name="PreviousBillDueDate"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="AccountInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:decimal" name="OriginalDepositAmount"/>
              <xs:element type="xs:decimal" name="CollectedDepositAmount"/>
              <xs:element type="xs:decimal" name="BudgetAmount"/>
              <xs:element type="xs:string" name="StandardRemarkCode"/>
              <xs:element type="xs:string" name="BillingCycle"/>
              <xs:element type="xs:string" name="EmailAddress"/>
              <xs:element type="xs:string" name="AccountStatus"/>
              <xs:element type="xs:string" name="AccountClass"/>
              <xs:element type="xs:string" name="AccountNumber"/>
              <xs:element type="xs:string" name="ServiceAddress"/>
              <xs:element type="xs:string" name="RoundUpFlag"/>
              <xs:element type="xs:decimal" name="RoundUpAmount"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="RejectReasonCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>